@import url(../css/Rules.css);

main {
  display: flex;
  gap: 3rem;
}

a {
  text-decoration: none;
}

#content {
  padding: 2rem 0 0 0;
  width: 100%;
  height: auto;
}
#content h4 {
  margin: 0 0 4rem 0;
}

.content_table {
  padding: 2rem;
  background: var(--main-white);
  width: 99%;
  height: 70rem;
  margin-top: 3%;
  border-radius: 0.8rem;
  display: flex;
}

/*Estilos descripción*/

.content_description {
  margin-top: 3%;
  display: flex;
  justify-content: space-between;
}



/*Estilos buscador*/
.content_description_search {
  position: relative;
  display: flex;
  width: 42rem;
  height: auto;
  margin: 3rem;
  border: 1px solid rgba(0, 0, 0, 0.04);
  background: rgba(196, 196, 196, 0.1);
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.content_items {
  display: flex;
  flex-direction: column;
  padding: 2%;
  
}

.searchTitle{
  font-family: Poppins !important;
  font-size: 2rem;
  color: var(--main-black);
}

.searchTitle input{
  display: flex;
  width: 400px;
  height: 40px;
  border: none;
  padding: 20px;
  font-size: 15px;
  background-color: #ddd;
  color: var(--main-black);
}

.content_items_slt{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.searchTitleSlt{
  font-family: Poppins !important;
  font-size: 2rem;
  color: var(--main-black);
}

.content_items_search {
  margin: 0.5%;
  padding: 0.3%;
  width: 60%;
  border: 1px solid rgba(0, 0, 0, 0.25);
  background: #fff;
}

.content_items_slt{
  margin-top: 1rem;
}

.content_items_menu {
  display: flex;
  flex-direction: column;
  width: 100px;
  height: 40px;
  border: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
  background-color: #ddd;
  color: var(--main-black);
}

.btnSearch{
  display: flex;
  justify-content: end;
  margin-top: 1rem;
}

.content_items_button_search {
  width: 10rem;
  height: 3.8rem;
  background-color: #00a0fb;
  border-radius: 5px;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 13px;
  cursor: pointer;
  border-color: #00a0fb;
  margin: 1rem;
}

/*Estilos articulo*/
.contentArticle{
  height: 100%;
}

.flex-element {
  display: flex;
}

.btn {
  margin-top: 1.5%;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  border: 1px solid var(--main-blue);
  cursor: pointer;
  background: transparent;
  color: var(--main-blue);
  align-self: flex-end;
}

/*Estilos tabla*/
.table {
  width: auto;
  max-width: 120rem;
  height: auto;
  max-height: 90%;
  margin: 0;
  box-shadow: black 2px 1px 20px;
  border-collapse: collapse;
  border-color: none;
  margin-top: 2%;
  font-size: 1.6rem;
  overflow-x: hidden;
  overflow-y: scroll;
}

th {
  font-family: Poppins !important;
  font-size: 1.5rem;
  color: var(--main-white);
  background: #00a0fb;
  padding: 2rem 5rem;
}

td:not(.result_td) {
  padding: 2rem 5rem;
  border-bottom: 1px solid #ddd;
}

.copies {
  background-color: rgb(66, 235, 181);
  border-radius: 10px;
  padding: 1rem 2rem 1rem 2rem;
  color: rgb(255, 255, 255);
  font-size: 13px;
}

.actions button {
  width: 4.3rem;
  height: 3.8rem;
  background-color: #00a0fb;
  border-radius: 5px;
  padding: 0.1rem 0.5rem 0.1rem 0.5rem;
  color: rgb(255, 255, 255);
  font-size: 13px;
  cursor: pointer;
  border-color: #00a0fb;
  margin: 0.2rem;
}

.actions img {
  width: 30px;
}

/*Form add data*/
dialog {
  background: var(--main-white);
  width: 60rem;
  height: 86rem;
  padding: 1.5rem;
  position: absolute;
  inset: 50% 0 0 50%;
  transform: translate(-50%, -50%);
  border: none;
  border-radius: 5px;
}

dialog form {
  width: 100%;
  height: 100%;
}

.content_form {
  margin: 1rem;
  padding: 1rem;
}

.btnPart {
  display: flex;
  flex-direction: row;
}

.btnPart button {
  margin: 3rem;
  color: rgb(255, 255, 255);
  border: none;
  background: var(--main-blue);
  height: 45px;
  width: 60%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 20px;
}

.btnPart button a {
  color: rgb(255, 255, 255);
  padding: 1.8rem 7rem;
}

.form_text {
  font-family: Valera !important;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-black);
}

input,
.inputs {
  display: flex;
  flex-direction: column;
  width: 535px;
  height: 40px;
  border: none;
  padding: 20px;
  margin-top: 5px;
  font-size: 15px;
  background-color: #ddd;
  color: var(--main-black);
}

.recurso {
  display: flex;
  flex-direction: column;
  width: 535px;
  height: 40px;
  border: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
  background-color: #ddd;
  color: var(--main-black);
}

#categoría {
  display: flex;
  flex-direction: column;
  width: 53.5rem;
  height: 4rem;
  border: none;
  padding: 1rem;
  margin-top: 0.5rem;
  font-size: 1.5rem;
  background-color: #ddd;
  color: var(--main-black);
  z-index: 10000;
}

.descripción {
  display: flex;
  flex-direction: column;
  width: 535px;
  height: 100px;
  border: none;
  padding: 10px;
  margin-top: 5px;
  font-size: 15px;
  background-color: #ddd;
  color: var(--main-black);
}

.src {
  display: block;
  background-color: #ddd;
  border: none;
  width: 535px;
  height: 40px;
  font-family: Valera !important;
  font-size: 1.8rem;
  font-weight: 600;
  color: var(--main-black);
  cursor: pointer;
  padding: 10px;
  text-align: center;
}

#articulo,
#imagen {
  display: none;
}

#img-container {
  width: 250px;
  height: 250px;
  margin: 0 auto;
}

.grande {
  width: 100%;
  height: 100%;
  padding: 10px;
  border-radius: 30%;
  background-color: white;
  object-fit: contain;
}

dialog form button {
  width: 20rem;
  margin: 1rem 0 0 30%;
}
