@import url(../css/Rules.css);

html {
    background-color: var(--secondary-orange);
}

/*Estilo de titulo*/

h1[id="title"] {
    margin: 7rem 23% 2rem 15%;
    font-weight: 400;
}


img[id="img-ground"] {
    position: absolute;
    width: 700px;
    top: 40px;
    z-index: -1;
}

/*Estilo formulario*/


form {
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(15px);
    margin: 4% 15%;
    padding: 4rem 5rem;
    position: absolute;
    width: 120rem;
    height: 60rem;
    top: 10rem;
    border-radius: 1rem;
}

#title-form {
    text-align: center;
    font-size: 45px;
    font-weight: 400;
    line-height: 68px;
}

form > p {
    text-align: center;
    font-weight: 400;
    font-size: 2.4rem;
    line-height: 2.9rem;
    margin-bottom: 3rem;
}

div[id="lines"] {
    display: flex;
    justify-content: space-evenly;
}

div[id="line"] {
    width: 22rem;
    border: 1px solid var(--main-orange);
}

div[id="form-group-code"] {
    position: relative;
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    top: 7rem;
    padding: 0 30% 0 30%;
}

label[id="confirm-code"] {
    width: 193px;
    height: 14px;
    font-family: Valera;
    font-weight: 600;
    font-size: 20px;
    line-height: 30px;
}

input[id="number-code"] {
    position: relative;
    width: 40rem;
    height: 4.4rem;
    top: 2rem;
    padding: 1.3rem;
    border: none;
    border-radius: 2rem;
    background-color: #ffffff;
    outline: none;
}

button[id="register-buttom"] {
    position: relative;
    width: 29.2rem;
    height: 4.5rem;
    left: 5rem;
    top: 5rem;
    font-weight: 700;
    font-size: 2rem;
    color: #fff;
    background: var(--main-red);
    border-radius: 2rem;
    border: none;
}

img[id="img-ground2"] {
    position: absolute;
    width: 40rem;
    left: 70%;
    top: 45rem;
    z-index: 1;
}