@import url("../css/Rules.css");
#content {
    margin: 5rem 0 5rem  0;
    padding: 1.5rem  ;
    width: 50%;
    background-color:var( --main-white);
  }  

#post_desc textarea{
  padding: 1.5rem;
  width: 98%;
  outline: none;
  border-radius: 1.5rem;
  border: 1px  solid #ccc;
  font-size: 20px;
  resize: none; 
  background-color:var(--main-grey);
}
#post_enter input{
   margin-top: 1rem;
   margin-bottom: 1rem;
    color:rgb(255, 255, 255);
    border:none;
    background: rgba(127, 0, 0, 0.9);
    height: 45px;
    width: 20%;
    cursor: pointer;
    border-radius: 20px;
    font-size: 15px;
}
/*comentario*/
#coments{
  background-color:#d1d1d1 ;
  border-radius: 30px;
  width: 70%;
  padding:1.5%;
  margin: 2%;

}
#coments a{
  color:var(--main-blue);
}

#coments p{
}

#details_primary_part select{
  margin: 0.5rem;
  height: 45px;
  width: 40%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 15px;
}
