@import url(../css/Rules.css);

body {
  background-color: #ffa372;
  width: 100%;
  height: 100vh;
  display: grid;
  place-items: center;
}

#form-ctn {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 30px;
  width: 50rem;
  height: 70rem;
  text-align: center;
  padding: 1.5rem;
}

.ctn p {
  font-size: 15rem;
}

.ctn h2 {
  font-size: 80px;
}

.ctn h4 {
  margin-top: 50px;
}
.ctn button {
  position: relative;
  background-color: #800404;
  color: #ffff;
  border: none;
  border-radius: 30px;
  width: 400px;
  height: 50px;
  font-size: large;
  margin-top: 150px;
  cursor: pointer;
  text-decoration: none;
}

.ctn button a {
  text-decoration: none;
  color: #ffff;
}

#Ovalo_1 {
  position: absolute;
  inset: -10% 0 -35% 0;
  opacity: 0.5;
  z-index: -10;
  width: 35%;
  height: 70vh;
}

#Ovalo_2 {
  position: absolute;
  inset: 45rem 0 0 120rem;
  width: 500px;
  opacity: 0.5;
  z-index: -20;
}
