@import url(../css/Rules.css);

main {
  display: flex;
  gap: 3rem;
}

#content {
  padding: 2rem 0 0 0;
}

#content h2 {
  margin: 0 0 2rem 0;
}

#content h3 {
  margin: 0 0 1.5rem 0;
}

.grid-books{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  width: auto;
  height: 32rem;
  margin-bottom: 3.5rem;
}

.grid-books img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

#more{
  text-align: center;
  margin: 0 0 2rem 0;
}

