@import url("../css/Rules.css");

main {
  display: flex;
  gap: 4rem;
}

#book {
  display: flex;
  flex-direction: column ;
  margin-top: 4rem;
}

#container{
    display: flex;
    gap: 2rem;
}

#imgContainer {
  width: 35rem;
  height: 50rem;
  overflow: hidden;
}

#imgContainer img {
  width: 100%;
  height: 100%;
}

#book-info {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
}

#author-info,
#description {
  width: 80%;
  height: auto;
}

#description {
  text-align: justify;
  margin-top: 10rem;
}

#buttons {
    width: 100%;
    height: 10rem;
    margin: 2rem 0 0 0;
    display:flex;
    columns: 3;
    align-items: center;
    gap: 1rem;
}

.book-link{
    width: 30rem;
    background-color: var(--main-red);
    color: #fff;
    font-size: 1.8rem;
    text-decoration: none;
    text-align: center;
    border-radius: 2rem;
    padding: 0.5rem;
}

.book-link.down{
    background-color: var(--secondary-orange) !important;
}

.book-link i{
    color: #fff !important;
}

#more-books{
    margin: 4rem 0;
}

#similar-books{
    width: 80%;
    height: auto;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
    gap: 1rem;
}

#similar-books img{
    width: 100%;
    height: auto;
    object-fit: cover;
}