@import url("../css/Rules.css");

main {
  display: flex;
  gap: 4rem;
}

#book {
  display: flex;
  flex-direction: column;
  margin: 3.5rem;
}

#container {
  display: flex;
  gap: 2rem;
}

#imgContainer {
  width: 30rem;
  height: 100%;
}

#imgContainer img {
  width: 100%;
  height: 100%;
  overflow: hidden;
  object-fit: cover;
}

#book-info {
  display: flex;
  flex-direction: column;
  max-width: 80rem;
}

#author-info,
#description {
  word-wrap: break-word;
  width: 75%;
  white-space: normal;
}

#description {
  text-align: justify;
  margin-top: 10rem;
}

#buttons {
  width: 100%;
  height: 10rem;
  margin: 2rem 0 0 0;
  display: flex;
  columns: 3;
  align-items: center;
  gap: 1rem;
}

.book-link {
  width: 30rem;
  background-color: var(--main-red);
  color: #fff;
  font-size: 1.8rem;
  text-decoration: none;
  text-align: center;
  border-radius: 2rem;
  padding: 0.5rem;
  cursor: pointer;
}

.book-link.down {
  background-color: var(--secondary-orange) !important;
}

.book-link i {
  color: #fff !important;
}

#more-books {
  margin: 4rem 0;
}

#similar-books {
  width: 80%;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 1rem;
}

#similar-books img {
  width: 100%;
  height: auto;
  object-fit: cover;
}
#fcc-btn {
  background-color: var(--main-red);
  color: white;
  color: #fff;
  font-size: 2.5rem;
  padding: 5px 100px;
  border-radius: 2rem;
  text-decoration: none;
}

#fcc-btn:hover {
  background-color: #b32b2f;
}



#post_desc textarea {
  padding: 1.5rem;
  width: 98%;
  outline: none;
  border-radius: 1.5rem;
  border: 1px solid #ccc;
  font-size: 20px;
  resize: none;
  background-color: var(--main-grey);
}

#post_enter input {
  margin-top: 1rem;
  margin-bottom: 1rem;
  color: rgb(255, 255, 255);
  border: none;
  background: rgba(127, 0, 0, 0.9);
  height: 45px;
  width: 20%;
  cursor: pointer;
  border-radius: 20px;
  font-size: 15px;
}
#details_primary_part select{
  margin: 0.5rem;
  height: 45px;
  width: 40%;
  outline: none;
  border-radius: 20px;
  border: 1px solid #ccc;
  padding-left: 15px;
}
/*comentario*/
#content {
  margin: 5rem 0 5rem  0;
  padding: 1.5rem  ;
  width: 85%;
  background-color:var( --main-white)
}  
#comments{
  display: flex;
  flex-direction: row;
  background-color:#d1d1d1 ;
  border-radius: 30px;
  width: 97%;
  padding:1.5%;
  margin: 2%;
}
#person{
  display: flex;
  width: 25%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}


#person img{
    width: 40px;
    height: 40px;
    background-color: #fff;
    padding: 0.3rem;
    border-radius: 50%;
}
#person p{
    font-size: 2.2rem;
    color: var(--main-black);
}


#coment{
  display: flex;
  width: 75%;
  flex-direction: column;
  align-itemsalign-items: start;
  justify-content: center;
 
}
#coment p{
  font-weight: 600;
}
#coment a{
  font-size: 1.8rem;


}
#text{
  word-wrap: break-word;
  width: 85%;
  white-space: normal;
}
.linea {
  width: 96%; 
  height: 1px; 
  background-color: #333; 
  align-items: center;
  margin: 2rem;
}