@import url(../css/Rules.css);

/*ESTILOS CONTENIDO*/
main {
  display: flex;
  gap: 2rem;
}

#content {
  width: 80%;
  height: auto;
  padding: 2rem 0 0 0;
}

#content h2 {
  margin: 0 0 2rem 0;
}

#content h3 {
  margin: 0 0 1.5rem 0;
}

#books{
  display: flex;
}

.flex-books{
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
  gap: 1rem;
  width: 100%;
  height: auto;
  margin-bottom: 3.5rem;
  overflow: hidden;
}

.flex-books img{
  width: 100%;
  height: auto;
  object-fit: cover;
}

a{
  text-decoration: none;
  list-style: none;
}

.flex-books p{
  text-decoration: none;
  text-align: center;
}

#more{
  text-align: center;
  margin: 0 0 2rem 0;
}
