@import url(../css/Rules.css);

main{
    display: flex;
    gap: 1rem;
}

div[id="content"]{
    display: flex;
    justify-content: center;
    width: 100%;
    margin: 1rem 0;
}

object[id="book"]{
    width: 150rem;
    height: 80rem;
}