@import url(../css/Rules.css);

body{
    background-color: #ffa372;
}

#title-ctn{
    display: inline-block;
    position: relative;
    letter-spacing: 1.5px;
    padding-bottom: 50px;
    cursor: default;
    left: 275px;
    top: 40px;
    
}

#title-ctn h1{
    display: inline-block;
    position: relative;
    letter-spacing: 1.5px;
    cursor: default;
    font-size: 50px;

    
}



#Ovalo_1{
    position: absolute;
    transform: translate(-35%, -10%);
    opacity: 0.5;
    z-index: -10;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 35%;
  height: 70vh; 

}

#form-ctn{

    background-color: white;
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(5px);
    border-radius: 30px;
    width: 1500px;
    height: 700px;
    margin: auto;
    margin-top: 10px;
    padding-bottom: 20px;
    z-index: -1;

}

#text-ctn{
    /* border: 1px solid black; */
    position: relative;
    display: inline-block;
    left: 40px;
    padding: 50px;
    width: 650px;
    opacity: 1;
    font-size: 15px;
}

#text-ctn label h6{
    display: inline-block;
    position: relative;
    font-size: 25px;
    padding-top: 10px;
}



#text-ctn input{
    width: 500px;
    border-radius: 13px;
    border: none;
    border-radius: 30px;
    height: 50px;
    padding: 20px;
    margin-top: 5px;
    font-size: 25px;
    color: gray;
}

#eye{
    position: absolute;
    left: 315px;
    top: 327px;
}



#img-ctn{
    position: absolute;
    display: inline-block;
    padding: 40px;
    margin-top: 40px;
    margin-left: 190px;
    padding-bottom: 100px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
}

#img-ctn img[grande]{
  padding: 10px;
width: 200px;
height: 200px;

}

div img[grande]{
  margin: 10px;
  border-radius: 100px;
  background-color: white;
}

#img-ctn h5{
 font-size: 30px;
}

#img-ctn h5[primo]{
    color: #F25019;
    font-weight: bold;
    margin-top: 20px;
    text-align: justify;
    font-size: 15px;
}

.img_chiqitas{
  padding: 10px;
    width: 100px;
    height: 100px;
    padding-left: 10;
    margin: 10px;
    border-radius: 100px;
    background-color: white;
}



#img-ctn button[Upload]{
    position: relative;
    width: 160px;
    height: 50px;
    margin-bottom: 10px;
}

#img-ctn button[Upload] img{
    position: relative;
    top: 3px;
}

div form button img{
    padding-top: 2px;
    padding-left: 3px;
    width: 20px;
}

#aparte h6{
    width: 200px;
    position: relative;
    top: 25px;
    display: inline-block;
    color: gray;
    font-weight: normal;
    font-size: 15px;

}

#aparte button{
    margin-left: 15px;
    margin-top: 25px;
    background-color: #ffff;
    width: 75px;
    
}

#aparte button img{
    position: relative;
    left: -1px;
    top: 2px;
    width: 25px;
    
}


div form button{
    
    background-color: #800404;
    color: #ffff;
    border: none;
    border-radius: 15px;
    width: 300px;
}

#boton{
    position: relative;
    margin: auto;
    background-color: #800404;
    color: #ffff;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    width: 400px;
    height: 50px;
    left: 0px;
}

#boton:hover{
        transform: scale(1.05);
        transition: transform 0.5s;
}

#boton{
    transition: transform 0.5s;

}


#Ovalo_2{
    position: absolute;
    left: 900px;
    top: 320px;
    width: 400px;
    opacity: 0.5;
    z-index: -20;
}

div[id="flex-lines"] {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    position: absolute;
    top: 34.5rem;
    left: 65rem;
    z-index: 10000;
}

div[id="line"] {
    width: 20rem;
    border: 1px solid var(--main-orange);
}

